/* .seatM{
    
    
    
    
} */

.seatDiagramIzq{
 
 
 
 gap: 3px;


}

.seatDiagramDer{

    gap: 3px;
}

/* .seat{
    width: 40px;
    height: 40px;
    cursor: pointer;
    
   
} */
.seatselect{
    width: 40px;
    height: 40px;
   background-color: red;
}
.seatYes{
    width: 40px;
    height: 40px;
    background-color: grey;
    cursor: pointer;

}
.seatNot{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: rgb(32, 218, 63);
   
}