.container{
    
    width: 500px;
    height: 600px;
    display: flex;
    margin: 0 auto;
    
    overflow-x: hidden;
   
    
}
.img{
    width: 500px;
    height: 500px;
    padding: 2rem;
    pointer-events:none;

}
.slider{
    display: flex;
    cursor: grab;
 
}
.buttonSlider{
    margin-left: 200px;
}